<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>type tetris</title>
    <script src="node_modules/systemjs/dist/system.js"></script>
    <!--<script src="node_modules/typescript/lib/typescript.js"></script>-->
    <!--<script src="modules/app.js"></script>-->
    <script>
        System.config({
            baseURL: "modules",
            transpiler: "typescript",
            packages: {
                "/": { defaultExtension: "js" }
            }
        });
        System.import('app').then(null, console.error.bind(console));
    </script>
</head>
<body>
    <div id="content"></div>
    

</body>
</html>